@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Roboto Slab", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf6;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fefefe;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-2.5 rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600 cursor-pointer;
}