@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Roboto Slab", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf6;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fefefe;
    overflow-x: hidden;
  }
}